In [802]:
# importazione libreria pandas

import pandas as pd

In [804]:
# creazione dei df

df_festival = pd.read_excel('dati-festival-sanremo-1951-2023.xlsx')
df_classifica = pd.read_excel('dati-classifica-sanremo-1951-2023.xlsx')

In [806]:
# visualizzazione congiunta dei df 

display(df_festival.head())
display(df_classifica.head())

,Anno,Periodo,Sede,Presentatore,Partecipanti,Vincitore
0,1951,29-31 gennaio,Casinò di Sanremo,Nunzio Filogamo,3,Nilla Pizzi
1,1952,28-30 gennaio,Casinò di Sanremo,Nunzio Filogamo,5,Nilla Pizzi
2,1953,29-31 gennaio,Casinò di Sanremo,Nunzio Filogamo,10,Carla Boni
3,1954,28-30 gennaio,Casinò di Sanremo,Nunzio Filogamo,12,Gino Latilla
4,1955,27-29 gennaio,Casinò di Sanremo,Armando Pizzo,15,Claudio Villa

,Unnamed: 0,Posizione,Interprete,Canzone,anno,Autori
0,0,1º,Nilla Pizzi,Grazie dei fiori,1951,Gian Carlo Testoni e Mario Panzeri
1,1,2º,Nilla Pizzi e Achille Togliani,La luna si veste d'argento,1951,Biri
2,2,3º,Achille Togliani,Serenata a nessuno,1951,Walter Colì
3,3,F,Achille Togliani e Duo Fasano,Al mercato di Pizzighettone,1951,Aldo Locatelli
4,4,F,Nilla Pizzi e Achille Togliani,Eco tra gli abeti,1951,Enzo Bonagura

In [808]:
# visulizzazione informazioni dei df

display(df_festival.info())
display(df_classifica.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Anno          73 non-null     int64
 1   Periodo       73 non-null     object
 2   Sede          73 non-null     object
 3   Presentatore  73 non-null     object
 4   Partecipanti  73 non-null     int64
 5   Vincitore     73 non-null     object
dtypes: int64(2), object(4)
memory usage: 3.6+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1663 entries, 0 to 1662
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1663 non-null   int64
 1   Posizione   1653 non-null   object
 2   Interprete  1663 non-null   object
 3   Canzone     1663 non-null   object
 4   anno        1663 non-null   int64
 5   Autori      1663 non-null   object
dtypes: int64(2), object(4)
memory usage: 78.1+ KB

None

In [810]:
# conteggio NULL presenti nei df

display(df_festival.isnull().sum().sum())
display(df_classifica.isnull().sum().sum())

0

10

In [812]:
# verifica approfondita dei NULL presenti dei df

print('1) df_festival:')
if df_festival.isna().sum().sum() > 0:
    for column in df_festival.columns:
        n_null = df_festival[column].isnull().sum()
        percentuale_null = round((n_null/df_festival.shape[0]*100),2)
        if n_null > 0:
            print(column,':', n_null, 'NULL.', percentuale_null, '%')
else:
    print('il Dataset NON contiene valori NULL')

print('')
print('            /------/')
print('')
print('2) df_classifica:')

if df_classifica.isna().sum().sum() > 0:
    for column in df_classifica.columns:
        n_null = df_classifica[column].isnull().sum()
        percentuale_null = round((n_null/df_classifica.shape[0]*100),2)
        if n_null > 0:
            print(column,':', n_null, 'NULL.', percentuale_null, '%')
else:
    print('il Dataset NON contiene valori NULL')

1) df_festival:
il Dataset NON contiene valori NULL

            /------/

2) df_classifica:
Posizione : 10 NULL. 0.6 %

In [814]:
# rimozione colonna

df_classifica = df_classifica.drop('Unnamed: 0', axis=1)

In [816]:
# rinominazione colonna

df_classifica = df_classifica.rename(columns={'anno': 'Anno'})

In [818]:
# aggiunta nuova colonna con indice 0

df_classifica.insert(0, 'Anno1', df_classifica.Anno)

In [820]:
# rimozione colonna precedentemente rinominata

df_classifica = df_classifica.drop('Anno', axis = 1)

In [822]:
# rinominazione colonna nuova 

df_classifica = df_classifica.rename(columns={'Anno1': 'Anno'})

In [824]:
df_classifica.Posizione.unique()

array(['1º', '2º', '3º', 'F', 'NF', '4º', '5º', '6º', '7º', '8º', '9º',
       '10º', '3º (ex aequo)', '11º', '12º', '2º (pari merito)',
       '6º (ex aequo)', '9º (ex aequo)', '13º', '14º', '11º (ex aequo)',
       '13º (ex aequo)', '8º (ex aequo)', '15º', '16º', '1', '2', '4',
       '5', '6', '15º (ex aequo)', '17º', '18º', '6°', '19º', '20º',
       '21º', '22º', '23º', '24º', '25º', '26º', '5°', '7°', '8°', '9°',
       '10°', '11°', '12°', '13°', '14°', '15°', '16°', '17°', '18°',
       '19°', '20°', '21°', '22°', '23°', '24°', '4°', '3', 'NF (E4)',
       'NF (E3)', 'NF (E2)', nan, 'Esclusa', 'F (4º)[19]', 'F (5º)[20]',
       'F (6º)[21]', 'F (7º)[22]', 'F (8º)[23]', 'F (9º)[24]',
       'F (10º)[25]', 'Escluso', 'Esclusi', '27º', '28º'], dtype=object)

In [828]:
# pulizia della colonna 'Posizione'

df_classifica.Posizione = (df_classifica['Posizione']
 .fillna('0')
 .str.replace('º', '')
 .str.replace('°', '')
 .str.replace('NF', '0')
 .str.replace('F', '0')
 .str.replace('Es', '0')
 .str.replace('0c', '0')                         
 .str.strip()                         
 .str[0:2] + '°')

df_classifica.Posizione

0        1°
1        2°
2        3°
3        0°
4        0°
       ...
1658    24°
1659    25°
1660    26°
1661    27°
1662    28°
Name: Posizione, Length: 1663, dtype: object

In [830]:
# pulizia della colonna 'Vincitore' e 'Presentatore'

df_festival.Vincitore = df_festival['Vincitore'].str.split('(').str[0]
df_festival.Presentatore = df_festival.Presentatore.str.split('(').str[0]

In [842]:
# rimozioni spazi iniziali e finali della colonna 'Presentatore'

df_festival.Presentatore = df_festival.Presentatore.str.strip()

In [844]:
df_festival.Presentatore.unique()

array(['Nunzio Filogamo', 'Armando Pizzo', 'Fausto Tommei', 'Gianni Agus',
       'Enzo Tortora', 'Paolo Ferrari', 'Lilli Lembo', 'Renato Tagliani',
       'Mike Bongiorno', 'Pippo Baudo', 'Nuccio Costa', 'Carlo Giuffré',
       'Corrado', 'Giancarlo Guardabassi', 'Maria Giovanna Elmi',
       'Roberto Benigni', 'Claudio Cecchetto', 'Andrea Giordana',
       'Loretta Goggi', 'Miguel Bosé', 'Rosita Celentano',
       'Gabriella Carlucci', 'Andrea Occhipinti', 'Raimondo Vianello',
       'Fabio Fazio', 'Raffaella Carrà', 'Simona Ventura',
       'Paolo Bonolis', 'Giorgio Panariello', 'Antonella Clerici',
       'Gianni Morandi', 'Carlo Conti', 'Claudio Baglioni', 'Amadeus'],
      dtype=object)

In [848]:
# concatenazione di stringhe per preparare la colonna 'Anno' al campio di datatype

df_festival.Anno = df_festival.Anno.astype('str') + '-01-01'
df_classifica.Anno = df_classifica.Anno.astype('str') + '-01-01'

In [850]:
# conversione in formato data della colonna 'Anno'

df_festival.Anno = pd.to_datetime(df_festival.Anno, format = '%Y-%m-%d')
df_classifica.Anno = pd.to_datetime(df_classifica.Anno, format = '%Y-%m-%d')

In [852]:
# merge dei df (colonna di unione = 'Anno') e creazione del df

df_sanremo = df_classifica.merge(df_festival, on = 'Anno')

In [856]:
# visualizzazione del df_sanremo

df_sanremo.info()
df_sanremo.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1663 entries, 0 to 1662
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Anno          1663 non-null   datetime64[ns]
 1   Posizione     1663 non-null   object
 2   Interprete    1663 non-null   object
 3   Canzone       1663 non-null   object
 4   Autori        1663 non-null   object
 5   Periodo       1663 non-null   object
 6   Sede          1663 non-null   object
 7   Presentatore  1663 non-null   object
 8   Partecipanti  1663 non-null   int64
 9   Vincitore     1663 non-null   object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 130.1+ KB

,Anno,Posizione,Interprete,Canzone,Autori,Periodo,Sede,Presentatore,Partecipanti,Vincitore
0,1951-01-01,1°,Nilla Pizzi,Grazie dei fiori,Gian Carlo Testoni e Mario Panzeri,29-31 gennaio,Casinò di Sanremo,Nunzio Filogamo,3,Nilla Pizzi
1,1951-01-01,2°,Nilla Pizzi e Achille Togliani,La luna si veste d'argento,Biri,29-31 gennaio,Casinò di Sanremo,Nunzio Filogamo,3,Nilla Pizzi
2,1951-01-01,3°,Achille Togliani,Serenata a nessuno,Walter Colì,29-31 gennaio,Casinò di Sanremo,Nunzio Filogamo,3,Nilla Pizzi
3,1951-01-01,0°,Achille Togliani e Duo Fasano,Al mercato di Pizzighettone,Aldo Locatelli,29-31 gennaio,Casinò di Sanremo,Nunzio Filogamo,3,Nilla Pizzi
4,1951-01-01,0°,Nilla Pizzi e Achille Togliani,Eco tra gli abeti,Enzo Bonagura,29-31 gennaio,Casinò di Sanremo,Nunzio Filogamo,3,Nilla Pizzi

In [862]:
# importazione dei dataset in file xlsx e csv

df_sanremo.to_excel('df_sanremo.xlsx', index = False)
df_sanremo.to_csv('df_sanremo.csv', index = False)

df_festival.to_excel('df_festival.xlsx', index = False)
df_classifica.to_excel('df_classifica.xlsx', index = False)

df_festival.to_csv('df_festival.csv', index = False)
df_classifica.to_csv('df_classifica.csv', index = False)